@use './index' as index;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@include index.root;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	overflow-x: hidden;
	overflow-y: auto;
}